.buscador {
  padding: 0.5rem 1rem; /* Ajusta el padding general del contenedor */
  margin-top: -2rem; /* Mueve el contenedor hacia arriba, reduciendo el espacio superior */
  text-align: center; /* Centra el contenido del buscador */

  form {
    display: flex; /* Utiliza flexbox para alinear los elementos dentro del formulario */
    justify-content: center; /* Centra los elementos horizontalmente dentro del formulario */
    gap: 0.5rem; /* Añade espacio entre los elementos del formulario */
    margin-bottom: 1rem; /* Espacio debajo del formulario */
    
    input {
      padding: 0.5rem 1rem; /* Espaciado interno del input */
      font-size: 1rem; /* Tamaño de la fuente */
      width: 300px; /* Define el ancho del input */
      border-radius: 8px; /* Bordes redondeados */
      border: 1px solid #ccc; /* Borde de color gris claro */
    }
  
    button {
      padding: 0.5rem 1rem; /* Espaciado interno del botón */
      background-color: #000; /* Fondo negro para el botón */
      color: white; /* Color del texto en blanco */
      border: none; /* Sin borde */
      border-radius: 8px; /* Bordes redondeados */
      cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  
      &:hover {
        background-color: #ff6f61; /* Cambia el fondo a un color rojo claro cuando se pasa el cursor */
      }
    }
  }

  .error {
    color: red; /* Color rojo para los mensajes de error */
  }

  .resultados {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el relleno de la lista */
    display: flex; /* Utiliza flexbox para organizar los elementos en una fila */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en varias filas si es necesario */
    justify-content: center; /* Centra los resultados en la página */
    gap: 1rem; /* Añade espacio entre los elementos de la lista */
  
    li {
      cursor: pointer; /* Cambia el cursor a mano cuando se pasa sobre un item */
      background: #1f1f1f; /* Fondo oscuro para los items de la lista */
      color: white; /* Color de texto blanco */
      border-radius: 10px; /* Bordes redondeados con un radio de 10px */
      padding: 0.5rem; /* Espaciado interno */
      width: 140px; /* Ancho fijo para cada item */
      text-align: center; /* Centra el texto dentro de cada item */
      transition: transform 0.2s; /* Suaviza la transición cuando se aplica un transform */
  
      &:hover {
        transform: scale(1.05); /* Escala ligeramente el item cuando se pasa el cursor sobre él */
        background-color: #2a2a2a; /* Cambia el color de fondo cuando se pasa el cursor */
      }
  
      img {
        width: 100%; /* Hace que la imagen ocupe todo el ancho del item */
        border-radius: 8px; /* Bordes redondeados en la imagen */
        margin-bottom: 0.5rem; /* Espacio debajo de la imagen */
      }
    }
  }
}
