
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* Estilos generales para la barra de navegación */
.navbar {
    width: 100%;  /* Ocupa todo el ancho */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 30px;
    background-color: #333; /* Fondo oscuro */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  
  /* Estilo para los elementos de la lista */
  .nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /* Estilo de los elementos de navegación */
  .nav-item {
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Estilo para los enlaces */
  .nav-link {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
  
    svg {
      margin-right: 8px; /* Espacio entre el icono y el texto */
    }
  }
  
  /* Hover para los enlaces */
  .nav-link:hover {
    background-color: #ff6f61; /* Un color vibrante */
    color: #fff;
  }
  
  /* Estilo para el botón de logout */
  button.nav-link {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Hover para el botón de logout */
  button.nav-link:hover {
    background-color: #ff6f61;
    color: white;
  }
  
  @media (max-width: 768px) {
    .nav-list {
      flex-direction: row; /* Mantenemos horizontal */
      flex-wrap: wrap;     /* Permite que los items bajen si no hay espacio */
      justify-content: center; /* Centra los items */
    }
  
    .nav-item {
      margin: 5px 10px; /* Menor margen para que entren más fácilmente */
    }
  }