/* Estilo base para el contenedor */
.register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo para el encabezado */
  h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin-top: 20px;
  }
  
  /* Estilo para el formulario */
  form {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    align-items: center;
    margin-top: 4vw;
  }
  
  /* Estilo para los inputs */
  input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
  
    &::placeholder {
      color: #888;
    }
  
    &:focus {
      border-color: #ff6f61;
    }
  }
  
  /* Estilo específico para el botón de registro */
  .register-button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #ff6f61;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #e55e50;
    }
  }
  